#content {
    padding: 0;
    display: grid;
    grid-template-columns: 10fr 7em;
    position: fixed;
    right: 2em;
    left: 2em;
    top: 8em;
    bottom: 2em;
}
#diagram, #sidebar {
    -webkit-user-drag: none;
    background-color: #F0F0F0;
    border-radius: 1em;
    padding: 1em;
    border: 2px solid #e6e6e6;
}
#diagram {
    overflow: scroll;
    margin-right: 1em;
}
#sidebar {
    justify-content: center;
    margin-left: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}



.Node {
    -webkit-user-drag: none;
    position: absolute;
    border-radius: 0.5em;
    background-color: #FFFFFFaF;
    border: 2px solid #e6e6e6;
    cursor: grab;
    resize: both;
    overflow: hidden;
    transition: 0.05s;
}

.Label-text {
    overflow-x: hidden;
    word-wrap: break-word;
    outline: none;
    background-color: #00000000;
    border-radius: 0.5em;
    border: 0;
    font-family: Monsterrat;
    font-weight: bold;
    font-size: 0.6em;
    width:100%;
    height:100%;
}
.Label {
    border: 2px dashed #0789f22a;
    background-color: #00000000;
}
.ClassNode {
}

.PackageNode {
    background-color: #42f5e31f;
    border: 2px solid #3bd9d952;
}

.Connection {
    position:absolute;
    resize: none;
}

.Node:hover, .Node-selected {
    position: absolute;
    background-color: #0789f21a;
    border: 2px solid #0789f2;
}