{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/editor.css">
{% endblock %}
{% block js %}
    <script src="/static/js/editor.js" defer></script>
{% endblock %}
{% block content %}
    <div class="card" id="json-area">
        <form method="post" action="/editor_json/" id="json-form">
            {% csrf_token %}
            <img src="/static/img/json.svg" class="svg-button" id="json-ctc">
            <input type="text" name="json" id="json-input"/>
        </form>
    </div>
    <svg id="svg-space" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <div id="diagram">
        {{json}}
    </div>
    <div id="sidebar">
        <img src="/static/img/classnode.svg" class="svg-button" id="classnode-button">
        <img src="/static/img/label.svg" class="svg-button" id="label-button">
        <img src="/static/img/package.svg" class="svg-button" id="package-button">
        <img src="/static/img/connection.svg" class="svg-button" id="connection-button">
        <img src="/static/img/delete.svg" class="svg-button" id="delete-button">
        <img src="/static/img/json.svg" class="svg-button" id="json-button">
    </div>
{% endblock %}