{% extends 'base.html' %}
{% block js %}
    <script src="/static/js/index.js" defer></script>
{% endblock %}
{% block content %}
    <div class="card">
        <h2 class="content-center"> The age of pen and paper is behind us! </h2>
        <hr>
        <p class="content-center"> Still have old hand drawn class diagrams and can't be bothered to ditialize them? </p>
        <p class="content-center"> Let us help you! Digitalise your class diagrams online using R-CNN instead </p>
        <form action="/editor/" method="post" class="content-center">
            {% csrf_token %}
            <label for="input-image" class="input-file-label"><img class="svg-button" src="/static/img/imgupload.svg" id="imgupload"></label>
            <input type="file" id="input-image" name="image" accept="*.jpg">
            <button type="submit" id="rocket-button"><img class="svg-button" src="/static/img/rocket.svg" id="rocket"></button>
        </form>
    </div>
{% endblock %}